*{
    margin: 0;padding: 0;
    font-family: "Poppins", sans-serif;
}

.bgimage img {
  position: relative;
  width: 1512px;
  height: 579px;
  filter: brightness(34%);
  object-fit: fill;
}
/* .nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
} */
nav {
  position: absolute;
  top: 45px;
  left: 86px;
  gap: 34px;
  border: 2px solid black;
  width: 1288px;
  height: 90px;
  background-color: white;
}
nav ul {
  display: flex;
  gap: 52px;
  margin: 35px 0px 0px 150px;
}
nav ul a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
nav span {
  position: absolute;
  top: 34px;
  left: 896px;
  display: flex;
  gap: 41px;
  align-items: first baseline;
}
.logo p {
  color: rgba(7, 56, 85, 1);
  position: absolute;
  left: 646px;
  top: 39px;
  font-style: unset;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}
.logo svg {
  position: absolute;
  left: 589px;
  top: 22px;
}
.about > a {
  text-decoration: none;
  font-size: 27px;
  position: absolute;
  top: 230px;
  left: 119px;
  color: white;
}
.smalabou {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 359px;
  left: 145px;
  font-size: 18px;
}
.smalabou a {
  text-decoration: none;
  color: white;
}
main{
    display: flex;
}
.visit{
    width: 330px;
    margin: 90px;
    height: 248px;
    border: 1px solid black;
}
.visit h4{
    margin: 20px 0px 0px 17px;
}
.visit p{
    margin: 20px 0px 0px 17px;
}
.visit a{
    margin-top: 20px;
    display: flex;
    margin-left: 18px;
    text-decoration: none;
    color: black;
}
.form{
  margin: 46px;
}

.form h1{
    margin: 33px;
}
.form span{
    margin-left: 30px;
}
.form input{
    margin: 3px 80px 55px 9px;
    height: 32px;
}
.email{
    margin-left: 294px;
    margin-top: -114px;
}
.form textarea{
    width: 516px;
    height: 216px;
    margin: -18px 0px 0px 33px;
}
input .submit{
  border: 1px solid transparent;
  background: rgba(7, 56, 85, 1);
  padding: 7px;
  width: 117px;
  margin: 25px 0px 0px 33px;
  color: white;
}
footer img{
  width: 1512px;
  height: 489px;
}
.last{
  display: flex;
  color: white;
  width: 1512px;
  height: 300px;
  margin-top: 40px;
  background: rgba(7, 56, 85, 1);

}
.divone {
  width: 300px;
  height: 220px;
  margin: 56px 0px 0px 68px;
}
.divone a {
  text-decoration: none;
  color: white;
}
.divone a h3{
  color: white;
  margin-left: 46px;
  margin-bottom: 23px;
}
.Services{
  margin: 56px 0px 0px 68px;
  line-height: 43px;
  font-weight: 300;

}
.Services a{
  color: white;
  text-decoration: none;
}
.Information{
  margin: 56px 0px 0px 68px;
  line-height: 43px;
  font-weight: 300;
}
.Information a{
  color: white;
  text-decoration: none;
}
.Support{
  margin: 56px 0px 0px 68px;
  line-height: 43px;
  font-weight: 300;
}
.Support a{
  color: white;
  text-decoration: none;
}
.Platform{
  margin: 56px 0px 0px 68px;
  line-height: 43px;
  font-weight: 300;
}
.Platform a{
  color: white;
  text-decoration: none;
}
.btn{
  border: 1px solid transparent;
        background: rgba(7, 56, 85, 1);
        padding: 7px;
        width: 117px;
        margin: 25px 0px 0px 33px;
        color: white;
        cursor: pointer;
}
