*{
    margin: 0;padding: 0;
    font-family: "Poppins", sans-serif;
}

.bgimage img {
  position: relative;
  width: 1512px;
  height: 579px;
  filter: brightness(34%);
  object-fit: fill;
}
/* .nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
} */
nav {
  position: absolute;
  top: 45px;
  left: 86px;
  gap: 34px;
  border: 2px solid black;
  width: 1288px;
  height: 90px;
  background-color: white;
}
nav ul {
  display: flex;
  gap: 52px;
  margin: 35px 0px 0px 150px;
}
nav ul a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
nav span {
  position: absolute;
  top: 34px;
  left: 896px;
  display: flex;
  gap: 41px;
  align-items: first baseline;
}
.logo p {
  color: rgba(7, 56, 85, 1);
  position: absolute;
  left: 646px;
  top: 39px;
  font-style: unset;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}
.logo svg {
  position: absolute;
  left: 589px;
  top: 22px;
}
.about > a {
  text-decoration: none;
  font-size: 27px;
  position: absolute;
  top: 230px;
  left: 119px;
  color: white;
}
.smalabou {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 359px;
  left: 145px;
  font-size: 18px;
}
.smalabou a {
  text-decoration: none;
  color: white;
}
 main{
  position: relative;
}
.lifestyle{
  padding: 37px;
  margin: 71px 0px 0px 100px;
  border: 1px  solid rgba(125, 125, 125, 1);
  width: 793px;
}
.lifestyle a{
  color: rgba(7, 56, 85, 1);
  text-decoration: none;
}
.lifestyle h1{
  margin: 18px 1px 27px;
  width: 364px;

}
.lifestyle p{
  margin: 18px 0px 0px;
font-size: 21px;
width: 522px;
color: rgba(112, 112, 112, 1);
}
.section1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
}
.section1 input{
  width: 201px;
  height: 54px;
  text-align: center;
}
.section2{
  display: grid;
  gap: 17px;
  padding: 21px;
}
.section2 a{
  color: rgba(101, 101, 101, 1);
  text-decoration: none;
}
.section3{
  padding: 21px;
}
.section4 h5{
  padding: 14px 22px;
  font-size: 17px;
}


.box{
  position: absolute;
  left: 1048px;
  top: -13px;
  width: 419px;
  height: 884px;
  border: 0.5px solid rgba(125, 125, 125, 1);
  margin: 12px;

}

.imgbox{
  display: flex;
  gap: 33px;
  width: 336px;
  padding: 20px 0px;
  height: 76px;

}
.imgbox img{
  width: 115px;
}
.section4 {
  width: 447px;

}
.tags{
  margin: -16px 0px 0px 16px;

}
.btn{
  cursor: pointer;
  border-radius: 5px;
  margin: 23px 25px 7px 15px;
  height: 31px;
  width: 85px;
  background: rgba(234, 234, 234, 1);
  border: 1px solid transparent;
}
.last{
  display: flex;
  color: white;
  width: 1512px;
  height: 300px;
  margin-top: 40px;
  background: rgba(7, 56, 85, 1);

}
.divone {
  width: 300px;
  height: 220px;
  margin: 56px 0px 0px 68px;
}
.divone a {
  text-decoration: none;
  color: white;
}
.divone a h3{
  color: white;
  margin-left: 46px;
  margin-bottom: 23px;
}
.Services{
  margin: 56px 0px 0px 68px;
  line-height: 43px;
  font-weight: 300;

}
.Services a{
  color: white;
  text-decoration: none;
}
.Information{
  margin: 56px 0px 0px 68px;
  line-height: 43px;
  font-weight: 300;
}
.Information a{
  color: white;
  text-decoration: none;
}
.Support{
  margin: 56px 0px 0px 68px;
  line-height: 43px;
  font-weight: 300;
}
.Support a{
  color: white;
  text-decoration: none;
}
.Platform{
  margin: 56px 0px 0px 68px;
  line-height: 43px;
  font-weight: 300;
}
.Platform a{
  color: white;
  text-decoration: none;
}
